<%- layout("layouts/boilerplate.ejs") %>
<link rel="stylesheet" href="/stylesheets/star.css">    
  <div class="row my-4">
        <div class="col-4 offset-2">
            <div class="card">
                            <div id="campgroundCarousel" class="carousel slide" data-bs-ride="carousel">
                               
                                <div class="carousel-inner">
                                <% for(let i=0; i<campground.image.length; i++){ %> 
                                     <div class="carousel-item <%= i == 0 ?  "active" : "" %>">
                                         <img src="<%= campground.image[i].url%> " alt="">
                                     </div>
                                  <% } %> 
                                </div>
                                <% if(campground.image.length > 1){ %> 
                                <button class="carousel-control-prev" type="button" data-bs-target="#campgroundCarousel" data-bs-slide="prev">
                                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                  <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#campgroundCarousel" data-bs-slide="next">
                                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                  <span class="visually-hidden">Next</span>
                                </button>
                                <% } %> 
                              </div>
                <div class="card-body">
                    <h5 class="card-title">
                        <%=campground.title%>
                    </h5>
                    <p class="card-text">
                        <%= campground.description %>
                    </p>
                </div>
                <ul class="list-group list-group-flush mb-2">
                    <li class="list-group-item">Location: <%= campground.location %>
                    </li>
                    <li class="list-group-item">Price: $<%= campground.price %>/night
                    </li>
                    <li class="list-group-item">Submited By <%= campground.owner.username %>
                    </li>
                </ul>
                <% if(user && user._id.equals(campground.owner._id)) {%> 
                <div class="card-body mb-2">
                    <a href="/campgrounds/<%=campground._id%>/edit" class="card-link btn btn-info">Edit</a>
                    <form class="d-inline" action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
                <% } %> 
                <div class="card-footer text-muted mb-3">
                    2 days ago
                </div>
               
                
               
                
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <% if(user){ %> 
            <div class="col-11 mt-3 align-self-center">
                <div>
                    <h2>Leave a review</h2>
                </div>
                <form action="/campgrounds/<%=campground._id%>/reviews" method="POST" class="validated-form" novalidate>
                        <div class="col-4">
                        <fieldset class="starability-basic" >
                            <legend for="Rating" class="form-label">Rating: </legend> 
                            <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />
                            <input type="radio" id="second-rate1" name="rating" value="1" />
                            <label for="second-rate1" title="Terrible">1 star</label>
                            <input type="radio" id="second-rate2" name="rating" value="2" />
                            <label for="second-rate2" title="Not good">2 stars</label>
                            <input type="radio" id="second-rate3" name="rating" value="3" />
                            <label for="second-rate3" title="Average">3 stars</label>
                            <input type="radio" id="second-rate4" name="rating" value="4" />
                            <label for="second-rate4" title="Very good">4 stars</label>
                            <input type="radio" id="second-rate5" name="rating" value="5" />
                            <label for="second-rate5" title="Amazing">5 stars</label>
                        </fieldset>
                    </div>
                    <div class="mb-3">
                        <legend class="form-label" for="body">Review:</legend>
                        <textarea class="form-control form-control-sm" name="review[body]" id="body" cols="30"
                            rows="5" required></textarea>
                            <div class="valid-feedback">
                                Looks Good!
                            </div>
                    </div>
            
            <div class="mb-3 col-5 ms-auto">
                <button class="btn btn-success">Leave a Review!</button>
            </div>
            </form>
             </div>
            <% } %> 
            <div class="list-group list-group-flush">
                    <div class="mt-1 card-body">
                        <h3>Reviews: </h3>
                    </div>
                    <%if(campground.reviews.length !==0) {%>
                        <% for(let review of campground.reviews){ %>
                            <div class="mb-3 card border-start-0 border-bottom-start-0">
                                <div class="card-body">
                                     <p>
                                         <div class="mb-1"><b><%=review.owner.username%> </b></div>
                                         <p class="starability-result " data-rating=<%=review.rating %>>Rated <%=review.rating%> stars</p>
                                        
                                    </p> 
                                     
                                    <p><%=review.body%></p> 
                                    <% if(user && user._id.equals(review.owner._id)){ %> 
                                    <form action="/campgrounds/<%=campground._id%>/reviews/<%=review._id%>?_method=DELETE" method=POST>
                                        <div><button class="btn-sm btn btn-danger col-3 ">Delete</button></div>
                                    </form>  
                                    <% } %> 
                                </div>
                       </div>
                            <% }} %>
      

                        </div>
</div>
</div>
    </div>
    <script>
        (function () {
        'use strict'
        
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.validated-form')
        
        // Loop over them and prevent submission
        Array.from(forms)
        .forEach(function (form) {
        form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }
        
        form.classList.add('was-validated')
        }, false)
        })
        })()
        </script>

